'scopeName': 'source.minetweaker'
'name': 'Minetweaker'
'fileTypes': [
  'zs'
  ]
'patterns': [
  {
    'name': 'semicolon.minetweaker'
    'match': ';'
  }

  {
    'name': 'functions.minetweaker'
    'match': '\\b(print|recipes|addShaped|remove|addShapeless|addShapedMirrored|removeShaped|removeShapeless|furnace|setFuel|add|addAll|mirror|withDamage|withTag|onlyWithTag|onlyDamaged|onlyDamageAtLeast|onlyDamageAtMost|onlyDamageBetween|transformDamage|transformReplace|giveBack|noReturn|displayName|addTooltip|addShiftTooltip|addChestLoot|addSeed|removeSeed|setLocalization)'
  }

  {
    'name': 'stuff.minetweaker'
    'match': '\\b(for|in|val)'
  }

  {
    'name': 'styles.minetweaker'
    'match': '\\b(format|italic|strikethrough)'
  }

  {
    'name': 'import.minetweaker'
    'match': '\\b(import)'
  }

  {
    'name': 'grammar.minetweaker'
    'match': '\\b((|)|.|"|<|>|:|[|])'
  }
]
