'name': 'Minetweaker'
'scopeName': 'source.minetweaker'
'fileTypes': [
  'zs'
  ]

'repository': {
  'end_line': {
    'comment': 'End of line semicolon'
    'name': 'semicolon.minetweaker'
    'match': ';'
  }

  'functions': {
    'comment': 'Functions'
    'name': 'functions.minetweaker'
    'match': '(print|recipes|addShaped|remove|addShapeless|addShapedMirrored|removeShaped|removeShapeless|furnace|setFuel|add|addAll|mirror|withDamage|withTag|onlyWithTag|onlyDamaged|onlyDamageAtLeast|onlyDamageAtMost|onlyDamageBetween|transformDamage|transformReplace|giveBack|noReturn|displayName|addTooltip|addShiftTooltip|addChestLoot|addSeed|removeSeed|setLocalization)'
  }

  'stuff': {
    'comment': 'Stuff'
    'name': 'stuff.minetweaker'
    'match': '(for|in|val)'
  }

  'styles': {
    'comment': 'Text styles'
    'name': 'styles.minetweaker'
    'match': '(format|italic|strikethrough)'
  }

  'import': {
    'comment': 'Importing'
    'name': 'import.minetweaker'
    'match': '(import)'
  }

  'grammar': {
    'comment': 'Grammar'
    'name': 'grammar.minetweaker'
    'match': '((|)|.|"|<|>|:|[|])'
  }
}
