@import "syntax-variables";

@orange: #a56b32;
@gray: #352b22;
@red: #a55027;
@black: #FFFFFF;
@light-gray: #9b836a;
@blue: #40796b;

.editor .semicolon.minetweaker {
  color: @orange;
}

.editor .functions.minetweaker {
  color: @gray;
}

.editor .stuff.minetweaker {
  color: @red;
}

.editor .styles.minetweaker{
  color: @black;
}

.editor .import.minetweaker{
  color: @light-gray;
}

.editor .grammar.minetweaker{
  color: @blue;
}
