@import "syntax-variables";

@orange: #a56b32;
@green: #659D32;
@red: #a55027;
@white: #FFFFFF;
@lightgray: #9b836a;
@blue: #40796b;
@gray: #505050;

.editor .semicolon.minetweaker {
  color: @orange;
}

.editor .functions.minetweaker, .editor .functions.minetweaker.mods, .editor .functions.minetweaker.mods.bloodmagic, .editor .functions.minetweaker.mods.botania, .editor .functions.minetweaker.mods.exnihilo, .editor .functions.minetweaker.mods.factorization, .editor .functions.minetweaker.mods.hardcoreenderexpansion, .editor .functions.minetweaker.mods.mariculture,
    .editor .functions.minetweaker.mods.mekanism, .editor .functions.minetweaker.mods.metallurgy, .editor .functions.minetweaker.mods.pneumaticcraft, .editor .functions.minetweaker.mods.railcraft, .editor .functions.minetweaker.mods.thaumcraft, .editor .functions.minetweaker.mods.tinkersconstruct {
  color: @green;
}

.editor .stuff.minetweaker {
  color: @red;
}

.editor .styles.minetweaker {
  color: @blue;
}

.editor .import.minetweaker {
  color: @lightgray;
}

.editor .comment.multi.minetweaker, .editor .comment.normal.minetweaker {
  color: @gray
}
